<h1>Sign Up</h1>
<form action="/author/signup" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <input type="email" name="email" placeholder="email">
    <input type="submit">
</form>