<!doctype html>
<html lang="en">

<head>
    <title>landing page</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>



    <!-- Nav tabs -->
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/templates/sa.png" width="50" height="40" class="d-inline-block align-top" alt="">
            <span class="lower-text">ahitya</span>
        </a>
    </nav>
    <!--Jumbotron-->
    <div class="jumbotron">
        <h1 id="heading" class="display-3">सahitya</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/author/login" role="button">Login</a>
        <a class="btn btn-primary btn-lg" href="#sup" role="button">Sign up</a>
    </div>
    <!--about sahiya-->
    <div class="container">
        <h1 class="about"><i>Why Sahitya?</i></h1>
        <p class="about-p">Lorem ipsum dolor sit amet, quaeque atomorum oportere eam in, te munere verterem pro, in cum
            delenit invidunt. Accusata persequeris et quo, mea cu partem tincidunt. Mea no eleifend democritum
            suscipiantur, suas impetus numquam an eum. Erat vidit ei mel. Te est paulo detraxit dignissim, diam dolor
            eu has, ei quod magna libris nam. Eu latine urbanitas pro, vim mucius eruditi sadipscing te.

            Eum solet postea evertitur ei, per assum soluta perpetua eu, ius in habeo doctus perpetua. In qui etiam
            tamquam temporibus. Dicta repudiare disputationi sea at, erroribus mnesarchum inciderint pri et.
            Lorem ipsum dolor sit amet, quaeque atomorum oportere eam in, te munere verterem pro, in cum delenit
            invidunt. Accusata persequeris et quo, mea cu partem tincidunt. Mea no eleifend democritum suscipiantur,
            suas impetus numquam an eum. Erat vidit ei mel. Te est paulo detraxit dignissim, diam dolor eu has, ei quod
            magna libris nam. Eu latine urbanitas pro, vim mucius eruditi sadipscing te.

            Eum solet postea evertitur ei, per assum soluta perpetua eu, ius in habeo doctus perpetua. In qui etiam
            tamquam temporibus. Dicta repudiare disputationi sea at, erroribus mnesarchum inciderint pri et.
            Lorem ipsum dolor sit amet, quaeque atomorum oportere eam in, te munere verterem pro, in cum delenit
            invidunt. Accusata persequeris et quo, mea cu partem tincidunt. Mea no eleifend democritum suscipiantur,
            suas impetus numquam an eum. Erat vidit ei mel. Te est paulo detraxit dignissim, diam dolor eu has, ei quod
            magna libris nam. Eu latine urbanitas pro, vim mucius eruditi sadipscing te.

            Eum solet postea evertitur ei, per assum soluta perpetua eu, ius in habeo doctus perpetua. In qui etiam
            tamquam temporibus. Dicta repudiare disputationi sea at, erroribus mnesarchum inciderint pri et.</p>
    </div>


    <!--sign up form-->


    <div id="sup"class="jumbotron-new">
        <form action="/author/signup" method="POST">
            <div class="form">


                <h1 class="sign-up"><i>Please sign up!</i></h1>
                <div class="form-group">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                        <p id="message"></p>
                    </div>
                    <button type="submit" class="btn btn-primary submitbtn">Submit</button>
                    <div></div>
        </form>
    </div>
    <!--contact-us-->
    <div class="jumbotron-new2 jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Contact Us</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

            <div class="social-media">
                <img src="/templates/Unknown.png">
                <img src="/templates/fb.png">
                <img src="/templates/GitHub-Mark.png">


            </div>

        </div>
    </div>
    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="scripts/home.js"></script>
</body>

</html>