$break-small: 445px;

.sign-in {
   display: flex;
   flex-direction: column;
   // width: 30%;
   margin: 100px auto;
   border: 2px solid black;
   padding: 15px;
   border-radius: 5px;

   .title {
      margin: 10px 0;
   }

   .buttons {
      display: flex;
      justify-content: space-between;
   }

   @media screen and (max-width: $break-small) {
      width: 90%;
   }
}
