nav{
    background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
    border-bottom: 1px solid grey;
    box-shadow: 3px 10px 20px 3px gray;
}

main{
    margin-top: 150px;
}

.content-wrapper{
    width: 60%;
    margin: 0 auto;
    border: 1px solid  #928DAB;
    border-radius: 10px;
    box-shadow: 0 10px 20px #777;
    
}

.heading{
    padding: 15px;
    text-transform: capitalize;
    background: #1F1C2C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #928DAB, #1F1C2C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}

.op{
    opacity: 0.8;
    color: white;
}

.heading:hover{
    box-shadow: 3px 10px 20px 3px gray;
}

.content-wrapper li{
    list-style: none;
}

