main{
    margin-top: 90px;
}

nav{
    box-shadow: 0 8px 6px -6px lightgray;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.navbar-brand{
    color:white !important; 
}
.part-box{
    border: 1px solid lightgray;
    width: 500px;
    padding: 20px;
    transition: 0.3s;
}

.part-box:hover{
    box-shadow: 3px 10px 20px 3px lightslategray;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
border-color: #8E0E00;
border-radius: 5px;

}

.merge-req{
    padding: 10px;
}

.list-col{
    list-style: none;
}

main{
    margin-bottom: 100px;
}

body{
  background-image: url('/templates/pattern.png')  
}
.content{
    background-color: #f4f4f4 !important;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}

.hidden{
    display: none;
}

.difbox{
    margin-top: 20px;
    background-color: #f4f4f4 !important;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid grey;
}