.signin-page{
    display: flex;
  justify-content: center;
  align-items: center;
  

  h2{
      font-size: 30px;
      text-align: center;
  }
  span{
      font-size: 20px;
      text-align: center;
  }
}