<h1>Add a novel</h1>

<form action="/novels" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="idea" placeholder="idea">
    <input type="text" name="genre" placeholder="genre">
    <select name="status">
        <option value="complete">Complete</option>
        <option value="incomplete">Incomplete</option>
    </select>
    <textarea name="content" placeholder="content"></textarea>
    <input type="submit">
</form>