<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/post.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<title>स : Novel Feed</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>
  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
      <a class="navbar-brand" href="#"><h3>सahitya</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          
          <a class="nav-item nav-link" href="/novels">Home</a>
          <a class="nav-item nav-link" href="/novels/addNovel">Start a new novel</a>
          <a class="nav-item nav-link"  href="/author/dashboard" href="#">Dashboard</a>
          <a href="/author/logout" class="nav-item nav-link">Signed in as <%= currentUser.name %> : Logout</a>
          
             
            
        </div>
      </div>
    </nav>


  <div class="container">
    <div class="wrapper">
      <div class="heading">
        <h1>Recently added novels:</h1>
        
        <hr>

        <div id="list2">
          <select id="slopt" onchange="filterNovels(this)">
            <option>all</option>
            <option>Sci-Fi</option>
            <option>Science</option>
            <option>Doc</option>
            <option>Fantasy</option>
            <option>Historic</option>
            <option>Mystery</option>
          </select>
      
          <div id="lidisp" >
      
          </div>
        </div>

      </div>
    
    </div>
  </div>
<hr>

  
<footer>
  <div class="jumbotron-new2 jumbotron-fluid">
    <div class="footer">
      <h1 class="display-4">Contact Us!</h1>
      <p class="lead">We believe in you so contact us if you want to give your feedback or even just a "Hello"</p>

      <div class="social-media">
        <img src="/templates/unnamed.png">
        <img src="/templates/fb.png">
        <img src="/templates/GitHub-Mark.png">


      </div>

    </div>
  </div>
</footer>
<script src="/scripts/posts.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>