.feed-item{
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    color: white;
    background: red; /* default color */

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #41295a 50%, #2F0743 50%) right;
    background-size: 200%;
    transition: .3s ease-out;
    .sub{
        
        font-size: 20px;
        width: 100%;
        justify-content: space-between;
        
    }

    .idea{
        font-size: 25px;
    }

    &:hover{
        box-shadow: -3px 8px 6px -5px black;
        background-position: left;
    }
}